header {
  background-color: #1e1e24;
  border-bottom: 4px solid #ffcc00;
  padding: 10px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 550px;
  min-height: 70px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}
