.container {
  position: relative;
  width: 900px;
  padding: 100px 30px 60px 30px;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  background-size: contain;
  background-repeat: repeat;
  border: 4px solid rgb(0, 0, 0);
  background-color: #eae6ef;
}

.sega::before {
  left: -150px;
  background-image: url('assets/image/bg/segaL2.webp');
}

.sega::after {
  right: -150px;
  background-image: url('assets/image/bg/segaR2.webp');
}

.dendy::before {
  left: -150px;
  background-image: url('assets/image/bg/nintendoL.webp');
}

.dendy::after {
  right: -150px;
  background-image: url('assets/image/bg/nintendoR.webp');
}

.wrapper {
  display: flex;
  gap: 30px;

  margin-bottom: 20px;
}

.gameInfo {
  width: 570px;
}

.cartridgeImg {
  width: 320px;
  height: 240px;
  border: 5px solid #fff;
}

.platformIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.backLink {
  position: absolute;
  top: 20px;
  left: 15px;
  padding: 5px;

  color: #00ff00;
  font-size: 16px;

  &:hover {
    color: #ff0000;
  }
}

.gameTitle {
  font-size: 24px;
  color: #ffcc00;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  margin-bottom: 15px;
}

.addBtn {
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;

  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background-color: #00ff00;
  color: #000;
  transition: background-color 0.3s;

  &:disabled {
    background-color: #555;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: #ff0000;
  }
}

.cheatsBtn {
  border: none;
  padding: 10px 20px;
  margin-bottom: 30px;

  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background-color: #00ff00;
  color: #000;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #ff0000;
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
  }
}

.cheats {
  font-family: 'Press Start 2P', cursive;
}
