.container {
  position: relative;
  width: 900px;
  padding: 100px 40px 60px 40px;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.container {
  position: relative;
  width: 900px;
  padding: 100px 40px 60px 40px;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  background-size: contain;
  background-repeat: repeat;
}

.sega::before {
  left: -150px;
  background-image: url('assets/image/segaL.webp');
}

.sega::after {
  right: -150px;
  background-image: url('assets/image/segaR.webp');
}

.dendy::before {
  left: -150px;
  background-image: url('assets/image/nintendoL.webp');
}

.dendy::after {
  right: -150px;
  background-image: url('assets/image/nintendoR.webp');
}

.wrapper {
  display: flex;
  gap: 30px;

  margin-bottom: 20px;
}

.gameInfo {
  width: 570px;
}

.cartridgeImg {
  width: 320px;
  height: 240px;
  border: 5px solid #fff;
}

.platformIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.backLink {
  position: absolute;
  top: 20px;
  left: 15px;
  padding: 5px;

  /* border: 1px solid black; */
  /* border-radius: 6px; */
  color: #00ff00;
  font-size: 16px;

  &:hover {
    color: #ff0000;
  }
}

.gameTitle {
  font-size: 24px;
  color: #ffcc00;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  margin-bottom: 15px;
}

.btn {
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;

  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background-color: #00ff00;
  color: #000;
  transition: background-color 0.3s;

  &:disabled {
    background-color: #555;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: #ff0000;
  }
}
