.container {
  max-width: 550px;
  margin: 30px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.filterLabel {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 50px;

  padding: 10px;
  margin-bottom: 30px;

  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: #00ff00;
  font-size: 20px;
}

.filterInput {
  width: 100%;
  max-width: 400px;
  padding: 15px 40px;
  border: 2px solid #00ff00;
  border-radius: 4px;
  background-color: transparent;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  box-shadow: 0 0 5px #00ff00;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 14px;
  }

  &:focus {
    outline: none;
    border-color: yellow;
  }

  &:focus-visible::placeholder {
    visibility: hidden;
  }
}

.icon {
  position: absolute;
  top: 10px;
  right: 240px;
  width: 50px;
  height: 50px;
  color: white;
  fill: white;
}

.link {
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px 0;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
  transition: all 0.3s ease-in-out;
}

.link:hover,
.link:focus {
  color: #000000;
  background-color: #00ff00;
  border-color: #00ff00;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
}

.list {
  list-style: none;
  text-align: center;
}

.list li {
  margin: 10px 0;
}
