.toTopBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;

  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: black;

  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

  @media (min-width: 768px) {
    bottom: 40px;
    right: 40px;
  }
}

.visible {
  composes: toTopBtn;
  visibility: visible;
  opacity: 1;
}

.icon {
  fill: white;
  width: 30px;
  height: 30px;
  transition: fill 250ms ease-in-out, transform 250ms ease-in-out;

  &:hover,
  &:focus {
    fill: yellow;
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
