.container {
  max-width: 550px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.title {
  margin-bottom: 20px;
  color: #ffcc00;
  font-size: 20px;
}

.list {
  width: 100%;
  padding: 20px;
  background-color: #1a1a1d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
  /* padding: 10px; */
  border-bottom: 1px solid rgb(37, 187, 59);
  background: linear-gradient(135deg, #1f1c2c 0%, #928dab 100%);
  color: rgb(234, 222, 222);

  font-size: 16px;
  box-shadow: 0 0 5px #00ff00;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: linear-gradient(135deg, #928dab 0%, #1f1c2c 100%);
    color: #ffcc00;
  }
}

.item:last-child {
  border-bottom: none;
}

.message {
  text-align: center;
  font-size: 40px;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
}
