.container {
  max-width: 550px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.title {
  margin-bottom: 20px;
  color: #ffcc00;
  font-size: 24px;
  text-shadow: 1px 1px #000, -1px -1px #000;
}

.list {
  width: 100%;
  padding: 20px;
  background-color: #1a1a1d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  margin-bottom: 40px;
}

.item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid rgba(37, 187, 59, 0.5);
  background-color: #131317;
  color: #f5f1f1;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #2d2c3b;
    color: #ffcc00;
  }
}

.item:last-child {
  border-bottom: none;
}

.message {
  text-align: center;
  font-size: 40px;
  color: #00ff00;
  font-family: 'Press Start 2P', cursive;
}
