.container {
  display: flex;
  justify-content: space-around;

  width: 1200px;
  margin: 20px 0;

  /* outline: 1px solid red; */

  & ul {
    list-style: none;
  }
}

.list {
  width: 500px;
}

.title {
  margin-bottom: 20px;

  color: #ffcc00;
}

.item {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;

  color: rgb(234, 222, 222);
  font-weight: 700;
}
