.container {
  max-width: 550px;
  margin: 50px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  /* background-color: #000; */
  /* border: 2px solid #09ee27; */
  text-align: center;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.mainTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}
