.container {
  max-width: 550px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;

  @media (max-width: 374px) {
    min-width: 375px;
  }

  @media (min-width: 768px) {
    margin: 50px auto;
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.mainTitle {
  width: auto;
  margin-bottom: 30px;

  text-align: center;
  font-size: 24px;
  letter-spacing: 0.3rem;

  @media (min-width: 768px) {
    margin: 0 auto 50px;
    width: 1000px;
    font-size: 36px;
    letter-spacing: 0.5rem;
  }

  @media (min-width: 1200px) {
  }
}
