.wrapper {
  display: flex;
  gap: 40px;
}

.link {
  color: white;
  font-size: 24px;

  user-select: none;

  transition: 250ms ease-in-out;

  &:hover {
    background-color: #3737e0;
    color: aliceblue;
  }

  &:global(.active) {
    background-color: #145c9e;
    color: aliceblue;
  }
}
