.Toastify__toast {
  background-color: #1a1a1a !important;
  border: 2px solid #00ff00 !important;
  color: #00ff00 !important;
  font-family: 'Press Start 2P', cursive !important;
  box-shadow: 0 0 10px #00ff00 !important;
}
.Toastify__toast-body {
  font-size: 14px !important;
}
.Toastify__close-button {
  color: #00ff00 !important;
}
