/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.text {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.04em;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.btn {
  width: 110px;
  height: 50px;
  padding: 10px 14px;
  border: 1px solid aliceblue;
  border-radius: 6px;

  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  color: aliceblue;
  user-select: none;

  transition: 250ms ease-in-out;

  &:hover {
    background-color: #3737e0;
    color: aliceblue;
  }
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.text {
  text-align: center;
  color: #ffcc00;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.btn {
  width: 110px;
  height: 50px;
  padding: 10px 14px;
  border: 2px solid #ffcc00;
  border-radius: 6px;

  font-weight: 700;
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
  background-color: #1b1b32;
  color: #ffcc00;
  user-select: none;

  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    background-color: #ff6600;
    color: #fff;
  }
}
