.link {
  padding: 10px;
  color: inherit;
}

.deleteButton {
  padding: 10px;

  background: none;
  border: none;
  color: #764141;

  transition: color 250ms ease-in-out;

  &:hover {
    color: #ffcc00;
  }
}
