.link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: inherit;
}

.deleteButton {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #ffcc00;
  }
}
